{% extends 'main.html' %} {% block content %}

<div class="container" style="width: 50%; margin-top: 20px">
  <h2 style="color: blue; margin: 5px; margin-left: 100px">Results</h2>
  {% for i in sup %}
  <ol class="list-group list-group-numbered">
    <li
      class="list-group-item d-flex justify-content-between align-items-start"
    >
      <div class="ms-2 me-auto">
        <div class="fw-bold">Course[{{i.p2}}] score: {{i.p0}}</div>
        Credit hour(s): {{i.p1}}
      </div>
    </li>
  </ol>
  {% endfor %}
</div>
<hr />
<div style="display: flex;flex-direction:row">
  <div
    style="
      background-color: blue;
      width: 110px;
      height: 40px;
      color: white;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      line-height: 40px;
      font-size: medium;
      margin-top: 10px;
      margin-left: 180px;
      margin-right: 20px;
      
    "
  >
    <strong>CWA: {{cwa}}</strong>
  </div>
  <div>
    {% if request.user.is_authenticated %}
    <div>
    <a href="{% url 'home' %}"
      ><h6>Continue to next semester to cumulate results</h6></a
    >
    <a href="{% url 'refresh' %}"><h6>Delete all data and start afresh</h6></a>
  </div>
    {% else %}
    <a href="{% url 'home' %}" class="btn btn-dark" id="btn1" style="margin: 10px;height: 40px;"><h5>Calculate Again</h5></a>
    {% endif %}
  </div>
</div>
{% endblock content %}
