{% extends 'main.html' %} {% block content %} 

<div class="container" style="width: 50%;margin-top:20px">
  <h2 style="color: blue; margin:5px;margin-left:100px;">Results</h2>
{% for i in sup %}
      <ol class="list-group list-group-numbered">
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Course[{{i.p2}}] score: {{i.p0}}</div>
            Credit hour(s): {{i.p1}}
          </div>
        </li>
      </ol>
      {% endfor %}
    </div>
<hr>
<h1>Your CWA is: {{cwa}}</h1>
{% if request.user.is_authenticated %}
<a href="{% url 'home' %}"><h5>Continue to next semester to cumulate your CWA</h5></a>
<a href="{% url 'refresh' %}"><h5>Delete all data and start afresh</h5></a>
{% else %}
<a href="{% url 'home' %}"><h5>Calculate Again</h5></a>
{% endif %}

{% endblock content %}