
{% extends 'main.html' %}

{% block content %}


    <h1>Welcome To CWA calculator! </h1>

    <form class="form-group" action="{% url 'to_randomize' %}" method="POST">
        {% csrf_token %}
        <hr>Enter the number of courses: <input type="number" name="number" id="number"><hr>
        Do you want to randomize? <input type="checkbox" name="randomize" id="randomize">
        <hr>
        <h6 style="color: red;">Note: Only logged in users can calculate over more than one semester</h6>
        <input class="btn btn-success"style="margin-top:30px;" type="submit" value="Next">
    </form>


{% endblock content %}
