{% extends 'main.html' %} {% block content %}

<body>
  <div>
    <h1>The results are shown below:</h1>
    {% for obj in p1 %}

    <div class="course">
      <hr />
      <div class="label" style="margin: 10px">{{obj.part1}}</div>
      <div class="label2" style="margin: 10px">{{obj.part2}}</div>
      <div class="label3" style="margin: 10px">{{obj.part3}}</div>
    </div>

    {% endfor %}
  </div>
  <div
    style="
      background-color: blue;
      width: 110px;
      height: 30px;
      color: white;
      border-radius: 3px;
      line-height: 15px;
      padding: 8px;
      font-size: medium;
    "
  >
    CWA: {{cwa}}
  </div>
  <a href="{% url 'home'%}" style="margin-top: 20px;" class="btn btn-success">Calculate Again</a>

  {% endblock content %}
</body>
