{% extends 'main.html' %}

{% block content %}

<div class="container" style="width: 50%;margin-top: 150px;" >
    
    <ol class="list-group list-group-numbered">
        <li class="list-group-item">Number of courses: {{number}}</li>
        <li class="list-group-item">To randomize: True</li>
      </ol>
    <a class="btn btn-success" href="{% url 'tr2' %}" style="margin-top: 20px;margin-right: 20px;">Confirm</a>
    <a class="btn btn-info" href="{{ request.META.HTTP_REFERER }}" style="margin-top: 20px;">Back</a>
    
</div>


{% endblock content %}
    

    
